.place__paragraph {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin-bottom: 26px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media (min-width:1024px) and (max-width: 1279.98px) {
    .place__paragraph {
        margin-bottom: 27px;
    }
} 

@media (min-width:1024px) and (max-width: 1279.98px) {
    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
} 

@media screen and (max-width: 1023.98px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1023.98px) {
    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
}
