.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    margin-top: 92px;
    margin-bottom: 40px;
}

@media (min-width:768px) and (max-width: 1023.98px) {
    .intro__title {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767.98px) {
    .intro__title {
        margin-top: 64px;
        font-size: 32px;
        line-height: 1.09;
    }
}